doctype html

html(ng-app="blogApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title="Robert Mitchell"
        meta(name="fragment", content="#!")
        meta(property="og:site_name", content="Hrodebert.com")
        meta(property="og:title", content="Blog | Robert Mitchell")
        meta(property="og:description", content="I write to investigate the Good, the Beautiful, the Simple, the Sublime, and the Just, in order to better understand what wisdom is, what a good education is, and what a good life is.")
        meta(property="og:url", content="https://www.hrodebert.com/")
        meta(property="og:type", content="blog")
        meta(property="og:image", content="http://www.hrodebert.com/img/favicon.png")
        meta(property="og:image:secure_url", content="https://www.hrodebert.com/img/favicon.png")
        meta(property="og:image:width", content="556")
        meta(property="og:image:height", content="554")

        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@RobertMitchel_l")
        meta(name="twitter:title", content="Blog | Robert Mitchell")
        meta(name="twitter:description", content="I write to investigate the Good, the Beautiful, the Simple, the Sublime, and the Just, in order to better understand what wisdom is, what a good education is, and what a good life is.")
        meta(name="twitter:image", content="http://www.hrodebert.com/img/favicon.png")
        meta(name="twitter:image:secure_url", content="https://www.hrodebert.com/img/favicon.png")
        meta(name="twitter:image:width", content="556")
        meta(name="twitter:image:height", content="554")

        link(rel="icon" type="image/png" href="/img/favicon.png")

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Lustria" rel="stylesheet")

        link(rel='stylesheet', href='/css/ie10-viewport-bug-workaround.css')
        link(rel='stylesheet', href='/css/main.css')

        link(rel="me", href="https://twitter.com/RobertMitchel_l")

        script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js")
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js')
        script(src="/bower_components/angular-update-meta/dist/update-meta.min.js")

        script.
            window.prerenderReady = false;

    body(ng-app="blogApp")
        .header
            .container
                nav
                    a.blog-title Robert Mitchell
                    a.nav-item(href='#!/article-list') Blog
                    a.nav-item(href='#!/about') About

        .container
            block content


        footer
            p Copyright Robert Mitchell, 2016-2017.
            p.
                Glory be to the Father, and to the Son, and to the Holy Ghost. <br />
                As it was in the beginning, is now and ever shall be. World without end, Amen.

        script(src='/blog-app.js')
