<div *ngIf="!article">
  <p>Loading article ...</p>
</div>

<div *ngIf="article">

  <div class="col-md-9 blog-main">
    <div>
      <h1 class="article-title">{{ article.title }}</h1>
    </div>
    <article class="article">
      <header class="article-meta">
        <address class="article-author" style="display: inline-block;">
          <a rel="author" href="mailto:{{ article.author.email }}">
            {{ article.author.name }}
          </a>
        </address>
        <time>
          {{ article.date | date }}
        </time>
      </header>

      <div class="article-content">
        {{ article.content }}
      </div>
    </article>

    <div>
      <hr />
      <p>
        Questions? Comments? Feel free to <a href="mailto:{{article.author.email}}">email the author</a>.
      </p>
    </div>
  </div>

  <div class="col-sm-3 sidebar">

    <div class="sidebar-block">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled">
        <li><a target="_blank" href="https://github.com/Ahlkanvorez">Github</a></li>
        <li><a target="_blank" href="https://www.facebook.com/robert.mitchell.3367">Facebook</a></li>
        <li><a target="_blank" href="https://twitter.com/RobertMitchel_l">Twitter</a></li>
      </ol>
    </div>

    <div class="sidebar-block">
      <ol class="list-unstyled">
        <li>
          <a class="twitter-share-button"
             href="https://twitter.com/intent/tweet"
             data-text=" "
             data-size="large">
            Share</a>
        </li>
        <li>
          <a href="https://twitter.com/intent/tweet?screen_name=RobertMitchel_l"
             class="twitter-mention-button" data-show-count="false"
             data-size="large">
            Discuss</a>
        </li>
      </ol>
    </div>
  </div>
</div>
